@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: #f8fafc;
}

body {
  margin: 0;
  font-feature-settings: "liga" 1, "kern" 1;
  letter-spacing: -0.015em;
}

* {
  scroll-behavior: smooth;
}
